https://www.google.co.jp/
http://www.yahoo.co.jp/
https://www.youtube.com/
http://www.amazon.co.jp/
https://www.google.com/
http://fc2.com/
http://www.rakuten.co.jp/
https://twitter.com/
http://www.nicovideo.jp/
https://www.facebook.com/
https://www.wikipedia.org/
http://www.livedoor.com/
http://ameblo.jp/
http://www.goo.ne.jp/
http://kakaku.com/
http://t.co/
http://naver.jp/
http://dmm.co.jp/
http://www.pixiv.net/
http://blog.jp/
http://2ch.net/
http://xvideos.com/
http://www.impress.co.jp/
http://www.dmm.com/
http://www.livedoor.com/
http://live.com/
http://www.ameba.jp/
http://www.msn.com/ja-jp/
http://tabelog.com/
http://www.hatena.ne.jp/
http://nyaa.se/
http://hatenablog.com/
http://www.nifty.com/
http://blogspot.jp/
http://www.nhk.or.jp/
http://blog.seesaa.jp/
http://www.apple.com/
http://www.japanpost.jp/
http://www.so-net.ne.jp/
http://www.itmedia.co.jp/
http://sakura.ne.jp/
http://www.nikkei.com/
http://www.asahi.com/
http://www.biglobe.ne.jp/
http://www.yodobashi.com/
http://dropbooks.tv/
https://mixi.jp/
http://www.nikkeibp.co.jp/
http://wikiwiki.jp/
https://www.microsoft.com/ja-jp/
http://www.weblio.jp/
http://www.infoseek.co.jp/
http://www.mynavi.jp/
http://gigazine.net/
http://tsite.jp/
https://www.instagram.com/
http://xhamster.com/
http://atwiki.jp/
http://ero-video.net/
http://www.amazon.com/
http://himado.in/
http://cookpad.com/
http://pornhub.com/
http://syosetu.com/
http://www.exblog.jp/
http://www.geocities.jp/
http://www.yomiuri.co.jp/
http://jin115.com/
http://www.anitube.se/
http://www.carview.co.jp/movepage/
http://www.sankei.com/
http://blog-newstime.com/
http://www.kuronekoyamato.co.jp/
http://www.excite.co.jp/
http://wav.tv/
http://www.cocolog-nifty.com/
http://feedly.com/
http://www.rakuten.ne.jp/
http://panasonic.jp/
http://eroterest.net/
http://www.outbrain.com/jp
http://blog.esuteru.com/
http://www.mufg.jp/
http://www.rakuten-card.co.jp/
http://ecnavi.jp/
# http://nikkansports.com/
http://ascii.jp/
https://www.tumblr.com/
http://gamewith.jp/
# http://twimg.com/
http://mainichi.jp/
http://imgur.com/
http://www.dailymotion.com/jp
http://www.hulu.jp/
http://2ch-c.net/
http://www.blogimg.jp/
http://www.2chblog.jp/
http://www.livedoor.biz/
http://www.doorblog.jp/
http://www.ldblog.jp/
